#wrap {
    width:100%;
    #goTop {
        position: fixed;
        right: 30px;
        bottom: 20px;
        width: 58px;
        height: 58px;
        z-index: 2;
        a {
            display: block;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}