#wrap {
    width:100%;
    #quickMenu {
        position: absolute; //따라다니는건 absolute
        top:650px;
        right: 20px;
        width: 80px;
        background: #fff;
        z-index: 2;
        .row1 {
            width: 100%;
            border: 1px solid #ddd;
            a {
                display: block;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        } 
        .row2 {
            margin: 10px 0 0 0;
            width: 100%;
            border: 1px solid #ddd;
            ul {
                width: 100%;
                li{
                    border-bottom: 1px solid #ddd;
                    &:last-child {
                        border-bottom: 0;
                    }
                    a{
                        width: 100%;
                        display: block;
                        padding: 10px 0;
                        text-align: center;
                        font-size: 12px;
                        color: #333;
                    }
                }
            }
        } 
        .row3 {
            margin: 10px 0 0 0;
            width: 100%;
            border: 1px solid #ddd;
            .up-box {
                width: 100%;
                a {
                    width: 100%;
                    display: block;
                    text-align: center;
                    img {
                        width: 15px;
                    }
                }
                h2 {
                    text-align: center;
                    font-size: 13px;
                }
            }
            .view-box {
                width: 100%;
                height: 250px;
                
                ul {
                    padding: 10px;
                    width: 100%;
                    li {
                        width: 100%;
                        .gap {
                            padding:3px 0;
                            width: 100%;
                            a {
                                display: block;
                                width: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        
                    }
                }
            }
            .down-box {
                padding: 5px 0 0 0;
                a {
                    width: 100%;
                    display: block;
                    text-align: center;
                    img {
                        width: 15px;
                    }
                }
            }
        } 

    }
}