#wrap {
  width: 100%;
}
#wrap #main.main2 {
  width: 100%;
}
#wrap #main.main2 #section1 {
  width: 100%;
  padding: 50px 0 100px 0;
}
#wrap #main.main2 #section1 .container {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
}
#wrap #main.main2 #section1 .container .gap {
  width: 100%;
  margin: 0;
}
#wrap #main.main2 #section1 .container .gap .title {
  width: 100%;
  padding: 0 7px 50px 7px;
  text-align: center;
}
#wrap #main.main2 #section1 .container .gap .title h2 {
  font-size: 28px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
#wrap #main.main2 #section1 .container .gap .content {
  width: 100%;
  display: flex;
}
#wrap #main.main2 #section1 .container .gap .content .left {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  width: 220px;
  height: 100vh;
  margin: 0 46px 0 0;
}
#wrap #main.main2 #section1 .container .gap .content .left .title-filter {
  margin: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 40px;
}
#wrap #main.main2 #section1 .container .gap .content .left .title-filter span {
  font-size: 15px;
  color: rgb(51, 51, 51);
}
#wrap #main.main2 #section1 .container .gap .content .left .title-filter span:last-child {
  font-size: 14px;
  color: rgb(153, 153, 153);
}
#wrap #main.main2 #section1 .container .gap .content .left .title-filter span > svg {
  margin: -2px 4px 0 0;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap {
  margin: 0 7px;
  height: 100%;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap::-webkit-scrollbar {
  width: 0;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul {
  width: 100%;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li {
  width: 100%;
  border-bottom: 1px solid #eee;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li:first-child {
  border-top: 1px solid #eee;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 52px;
  color: #333;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li > a > svg {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
  transition: all 0.3s;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li > a.on svg {
  transform: rotate(0deg);
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub {
  width: 100%;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub .category-sub-order {
  padding-bottom: 15px;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub .category-sub-order a {
  font-size: 14px;
  color: #333;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub .category-sub-order a:first-child {
  color: #5f0080;
  font-weight: 500;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub .category-sub-order i {
  color: #eee;
  margin: 0 10px;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul {
  width: 100%;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li {
  width: 100%;
  padding: 10px 0;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li label {
  font-size: 14px;
  color: #333;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.3s;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li label:hover {
  color: #5f0080;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li label input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li label input:checked ~ svg {
  fill: rgba(95, 0, 128, 0.9);
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li label svg {
  width: 18px;
  height: 18px;
  margin: -2px 7px 0 0;
  fill: none;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li label svg path {
  stroke: #ddd;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li button {
  width: 100%;
  height: 30px;
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 12px;
  font-weight: 500;
  color: #999;
  cursor: pointer;
  transition: all 0.3s;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li button:hover {
  color: #333;
}
#wrap #main.main2 #section1 .container .gap .content .left .col-gap .wrap > ul > li .category-sub ul li button svg {
  margin: -2px 0 0 0;
  transform: rotate(90deg);
}
#wrap #main.main2 #section1 .container .gap .content .right {
  width: 798px;
}
#wrap #main.main2 #section1 .container .gap .content .right .order-filter {
  margin: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 40px;
}
#wrap #main.main2 #section1 .container .gap .content .right .order-filter span {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
#wrap #main.main2 #section1 .container .gap .content .right .order-filter .order-menu a {
  font-size: 14px;
  color: #999;
}
#wrap #main.main2 #section1 .container .gap .content .right .order-filter .order-menu a:first-child {
  color: #333;
  font-weight: 500;
}
#wrap #main.main2 #section1 .container .gap .content .right .order-filter .order-menu a svg {
  margin: -2px 0 0 4px;
}
#wrap #main.main2 #section1 .container .gap .content .right .order-filter .order-menu i {
  color: #eee;
  margin: 0 3px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li {
  width: 266px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap {
  margin: 0 7px 14px 7px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap {
  width: 100%;
  cursor: pointer;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .img-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .img-box > img {
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.6s ease-in-out;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .img-box > img:hover {
  transform: scale(1.06);
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .img-box a {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 2;
  width: 45px;
  height: 45px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .img-box a img {
  width: 100%;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption {
  padding: 15px 0 30px 0;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h6 {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h2 {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  margin-bottom: 8px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h2 strong {
  font-weight: 400;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h3 strong {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  margin: 0 7px 10px 0;
  color: #fa622f;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h3 em {
  font-size: 16px;
  font-weight: 800;
  color: #333;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h3 s {
  font-size: 14px;
  line-height: 20px;
  color: #b5b5b5;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h5 {
  font-size: 12px;
  color: #999;
  padding: 20px 0 15px 0;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption span {
  display: block;
  font-size: 12px;
  color: rgb(181, 181, 181);
  padding-bottom: 10px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption span svg {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}
#wrap #main.main2 #section1 .container .gap .content .right ul li .col-gap .wrap .caption h4 {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  color: #5f0080;
  background-color: #f4f4f4;
  border-radius: 4px;
  padding: 2px 8px 4px;
}